@model Product

<h1>@Model.Name</h1>

<div class="row mt-5">
    <div class="col-md">
        <h2 class="text-center">Categories</h2>
        @foreach (Association association in Model.AllAssociations)
        {
            <div class="card shadow rounded mx-auto w-75 mb-3">

                <div class=card-body>
                    <p class="card-text">@association.Category?.Name</p>
                </div>

            </div>
        }
    </div>

    <div class="col-md">
        <form class="shadow p-3 rounded" asp-controller="Product" asp-action="UpdateCategories" asp-route-id="@Model.ProductId" method="POST">
            <h2 asp-for="" class="text-center">Add Category</h2>
            <span class="text-danger" asp-validation-for="Name"></span>
            <select name="categoryId" class="form-control">
                @foreach (Category category in @ViewBag.missingcategories)
                {
                    <option value=@category.CategoryId>@category.Name</option>
                }
            </select>

            <input type="submit" value="Add">
        </form>
    </div>
</div>